# -- Google Cloud Platform --
GCLOUD_PROJECT="your-gcloud-project-id"
GOOGLE_APPLICATION_CREDENTIALS="/path/to/service-account-key.json"

# -- Speech Recognition --
# Google Cloud STT
STACKCHAN_USE_GOOGLE_CLOUD_STT=1
STACKCHAN_GOOGLE_CLOUD_STT_LANGUAGE_CODE="ja-JP"

# Whisper CLI
# STACKCHAN_USE_WHISPER_CLI=1
# STACKCHAN_WHISPER_CLI_MODEL_PATH="/path/to/whisper.cpp/ggml-small.bin"
# STACKCHAN_WHISPER_CLI_VAD_MODEL_PATH="/path/to/whisper.cpp/ggml-silero-v5.1.2.bin"

# Whisper Server
# STACKCHAN_USE_USE_WHISPER_SERVER=1
# STACKCHAN_WHISPER_SERVER_PORT=8431

# -- Speech Syntheis --
# Google Cloud TTS
STACKCHAN_USE_GOOGLE_CLOUD_TTS=1
STACKCHAN_GOOGLE_CLOUD_TTS_MODEL="gemini-2.5-flash-tts"
STACKCHAN_GOOGLE_CLOUD_TTS_LANGUAGE_CODE="ja-JP"
STACKCHAN_GOOGLE_CLOUD_TTS_VOICE_NAME="Despina"

# VOICEVOX
# STACKCHAN_USE_VOICEVOX=1
STACKCHAN_VOICEVOX_URL="http://localhost:50021"
STACKCHAN_VOICEVOX_SPEAKER=1

# -- Claude Agent SDK --
# using Google Cloud Vertex AI
CLAUDE_CODE_USE_VERTEX=1
CLOUD_ML_REGION="global"
ANTHROPIC_VERTEX_PROJECT_ID="your-gcloud-project-id"

# using Anthoropic API Key
# ANTHROPIC_API_KEY="your-anthropic-api-key"
